@import url('https://fonts.googleapis.com/css?family=Anton|Bree+Serif|Krona+One|Nothing+You+Could+Do');
body {
  background: #e4e4e4;
}
#bar {
  border-top: 18px solid #e4e4e4;
  margin: 10px auto -15px auto;
}
#roll {
  background-color: #000000;
  border-top: 40px solid #ffffff;
  border-bottom: 5px solid #ffffff;
  margin-top: -35px;
  margin-bottom: 0px;
  font-family: Krona One;
  text-transform: uppercase;
}
#head {
  font-family: Bree serif;
  font-weight:lighter;
}
header {
  color: #ffffff;
  font-family: ;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
.content {
  text-align: center;
  margin: auto 20%;
}

.dummys {
  margin: 2%;

}
