@import url('https://fonts.googleapis.com/css?family=Anton|Bree+Serif|Krona+One|Nothing+You+Could+Do');
body {
  background: #e4e4e4;
}
#bar {
  border-top: 18px solid #e4e4e4;
  margin: 10px auto -15px auto;
}
#roll {
  background-color: #000000;
  border-top: 5px solid #ffffff;
  border-bottom: 5px solid #ffffff;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Krona One;
  text-transform: uppercase;
}
#head {
  font-family: Bree serif;
  font-weight:lighter;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  width: 30%;
}
header {
  color: #ffffff;
  font-family: ;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
h1 {
  font-family: Bree serif;
  font-weight:lighter;
}
.content {
  text-align: center;
  margin: auto 20%;
}

.dummys {
  margin: 2%;
}

#footer {
  background: black;
  border-top: 150px solid black;
  border-bottom: 150px solid black;
  margin: 5% auto auto auto;
  font-family: nothing you could do;
  font-weight: 600;
}
.fconter {
  color: white;
  margin-left: 650px;
}
.fconter h3 {
  margin-bottom: 100px;
}
/* fdata {
  margin-left: 400px;
} */

.connect{

  width: 33.3%
  margin: 0;
  padding: 0%;
  font-size: 1em;
}

ul{
  float: left;
  list-style: none;
  display: block;
}
